node_modules/
release/

dist/
dist-ssr/
release/
*.local

logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.env
.env.*
!.env.example

.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.njsproj
*.sln
*.sw?

*.tsbuildinfo
.vite/
